*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth;
}


.wrapper {
    background-image: url("./../img/Layer\ 1.png");
    height: 2447px;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
}

.navbar {
    display: none;
}

.container {
    margin: 0 auto;
    width: 100%;    
}


.container__top{
    position: relative;
    width: 100%;
    height: 800px;
    float: left;
}

.menu {
    background-image: url("./../img/Background-container.png");
    height: 565px;
    background-repeat: no-repeat;
    transform: translateY(55px);
}

.left__menu {
    background-image: url("./../img/menu.png");
    background-repeat: no-repeat;
    width: 220px;
    height: 420px;
    position: absolute;
    top: 50px;
    left: -60px;
}

.right__menu {
    z-index: 10;
    position: fixed;
    top: 460px;
    right: 0px;
}


.right__menu button {
    display: inline-block;
    border: none;
    background-color: transparent;
}


.menu_list {
    list-style: none;
    padding: 109px 20px 0 0px;
}



.right__menu button img{
    transition: 0.3s;

}

.right__menu button img:hover {
    opacity: 0.9;
    transform: scale(1.05);
}



.menu_item {
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.menu_item img{
    margin-bottom: 13px;
    cursor: pointer;
    opacity: 0.8;
}

.menu_item img:hover {
    opacity: 1;
    transform: translateX(2px);

}

.luottang-mobile{
    display: none;
}

.luottang{
    text-align: center;
    margin-top: 615px;
}



.luottang__item img{
    transition: 0.3s;
}

.luottang__item img:hover {
     opacity: 0.8;
    transform: scale(1.05); 
}
/* .tang10luot img, .tang1luot img, .themluot img {
    transition: 0.3s;

}

.tang10luot img:hover, .tang1luot img:hover, .themluot img:hover  {
    opacity: 0.8;
    transform: scale(1.05); 
} */






.container__rank-mobile {
    display: none;
}

.container__rank {
    margin-top: 135px;
    text-align: center;
}

.container__bottom-mobile {
    display: none;
}

.container__bottom-md {
    display: none;
}


.container__bottom {
    margin-top: 680px;
    width: 100%;
    float: left;
}


.bottom__card {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bottom__card .diem-than-mat {
    display: none;
}

.card{
    position: relative;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}


.card a{
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 100px;
}
.card a:hover {
    transform: translateX(3px);
    
}


.menu-mobile{
    display: none;
}



/* modal BXH */

.modal-dialog {
    max-width: 425px;
}

.modal-content {
    border: none;
    width: 100%;
    background: none;
    
}
.modal-bg{
    background-image: url("./../img/modal-popup-img.png");
    height: 580px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.close {
    text-shadow: none;
}

.close span{
    position: absolute;
    font-size: 15px;
    padding: 15px;
    color: red;
    border: none;
    top: 0px;
    left: 377px;
    
}

/* Modal the le */

.thele-btn {
    display: inline-block;
    border: none;
    background-color: transparent;
}

.modal-thele-bg{
    background-image: url("./../img/thele-modal-background.png");
    height: 640px;
    width: 720px;
    background-repeat: no-repeat;
    color:#fff;
    position: relative;
}

.modal-content {
    border: none;
    background: none;
}

.close-thele {
    position: absolute;
    top: 55px;
    left: 622px;
    text-shadow: none;
    border: none;
    outline: none;
    background: none;
}

.close-thele span{
    position: absolute;
    left: 6px;
    top: 0px;
    font-size: 15px;
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}


.modal-dialog-thele {
    max-width: 670px;
}



/* /////////////////////// */




.modal-thele-text {
    margin-top: 50px;
    font-size: 17px;
}

.title {
    color: #fff;
    margin-bottom: 50px;
    font-weight: 700;
    text-align: center;
}

.modal-thele-text {
    width: 600px;
    scroll-behavior: auto;
    margin-left: 40px;
}

.modal-thele-content {
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
}


.modal-thele-content::-webkit-scrollbar { 
    width: 5px; 
    border-radius: 4px;
} 

.modal-thele-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.modal-thele-content::-webkit-scrollbar-track {
    background-color: #c3502c;
}



.modal-thele-content .ten-de-muc{
    color: yellow;
    font-size: 20px;
    margin-bottom: 20px;
}



.modal-thele-text .muc-1{
    display: flex;
    margin: 6px 0;
}

.modal-thele-text .muc-1 p:first-child {
    color: #678259;
    margin-right: 6px;
}


/* modal bxh  text*/
.modal-bxh-text {
   display: flex;
   margin-top: 150px;
   margin-left: 80px;
}

.bxh-list {
    margin-right: 80px;
}

.bxh-item, .luottang-item{
    margin-top: 5px;
    font-weight: 500;
}

.luottang-list {
    list-style: none;
}

.bxh-item:nth-child(1), .luottang-item:nth-child(1){
    color: orange;
}

.bxh-item:nth-child(2), .luottang-item:nth-child(2){
    color: green;

}

.bxh-item:nth-child(3), .luottang-item:nth-child(3){
    color: violet;
}




/* modal lich su */

.lichsu-btn {
    display: inline-block;
    border: none;
    background-color: transparent;
}

.modal-lichsu-content {
    background-color: #fff;
}

.modal-lichsu-btn a{
    color: #fff;
}



/* reponsive 1536x731*/

/* @media only screen and (max-width: 1600px){
    .wrapper {
        height: 1920px;
        background-size: 100%;
    }

    
    .left__menu {
        top: -5px;
        left: 40px;
    }
    
    .right__menu {
        position: fixed;
        top: 340px;
        right: 20px;
    }


    .luottang{
        text-align: center;
        margin-top: 470px;

        margin-left: -15px;
    }




    .container__rank {
        margin-top: 90px;
    }
    
    .container__bottom {
        margin-top: 300px;
        margin-left: 0px;
    }


    .container__bottom-md {
        display: none;
    }
} */

/* reponsive 1366x768 */

/* @media only screen and (max-width: 1366px) and (max-height:768px){
    .wrapper {
        height: 1710px;
    }

    
    .left__menu {
        top: -30px;
        left: 80px;
        transform: scale(0.7);
    }
    
    .right__menu {
        position: fixed;
        top: 300px;
        right: 70px;
        
    }
    

    .right__menu a {
        transform: scale(0.7);
    }


    .luottang{
        text-align: center;
        margin-top: 410px;
        transform: scale(0.7);
        margin-left: -15px;
    }

    .container__rank {
        margin-top: 35px;
        transform: scale(0.7);
    }
    
    .container__bottom {
        margin-top: 150px;
      
    }

    .bottom__card {
        width: 100vw;
    }
} */


/* reponsive 640px 768px */

/* @media screen and (max-width: 768px) and (min-width:640px){
    .wrapper{
        background-image: url("./../img/bg-mob.png");
        width: 100%;
        height: 4000px;
        position: relative;
    }

    .left__menu{
        display: none;
    }


    .right__menu {
        position: fixed;
        top: 550px;
        right: -50px;
    }

    .luottang{
        display: none;
    }

    .luottang-mobile{
        display: block;
        text-align: center;
        margin-top: 700px;
    }


    .container__rank{
        display: none;
    }

    .container__rank-mobile {
        display: block;
        text-align: center;
        
    }

    .container__bottom {
        display: none;
    }


    .container__bottom-md {
        display:block;
    }

    .bottom__card {
        width: 100%;
        padding-top: 1100px;
    }

    
    .card-left {
        float: left;
    }

    .menu-mobile{
        display: block;
        background-image: url("./../img/menu-mobile.png");
        background-repeat: no-repeat;
        max-width: 900px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .menu-mobie-list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }


} */

/* 576px - 640px*/

/* @media screen and (max-width: 640px) and (min-width : 576px){
    .wrapper{
        background-image: url("./../img/bg-mob.png");
        max-width: 900px;
        height: 3300px;
        position: relative;
        
    }


    .container {
        float: left;
        margin-left: 40px;
    }


    .left__menu{
        display: none;
    }

    .right__menu {
        position: fixed;
        top: 460px;
        right: -50px;
        
    }


    .luottang{
        display: none;
    }


    .luottang-mobile {
        display: block;
        text-align: center;
        margin-top: 570px;
       
    }


    .luottang-bottom {
        margin-top: 15px;
    }

    .container__rank{
        display: none;
    }


    .container__rank-mobile {
        display: none;
        
    }

    .rank-mobile-top{
        text-align: center;
    }

    .container__bottom{
        display: none;
    }

    .container__bottom-mobile {
        display: block;
        height: auto;
    }
    
    .bottom__card {
        padding-top: 650px;
    }

    .card-left {
        float:none;
    }
    
    .card {
        padding: 0;
    }

    .card a {
        position: absolute;
        bottom: 15px;
        left: 77px;
    }

    .menu-mobile{
        display: block;
        background-image: url("./../img/menu-mobile.png");
        background-repeat: no-repeat;
        max-width: 900px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .menu-mobie-list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

} */

/*  < 576px */
/* @media screen and (max-width: 576px){
    .wrapper {
        height: 2800px;
    }

    .container {
        width: 100%;
        float: left;
    }

    .container__top {
        margin-bottom: 550px;
    }

    .left__menu{
        display: none;
    }

    .right__menu {
        position: fixed;
        top: 400px;
        right: -15px;
        
    }

    .luottang{
        display: none;
    }


    .luottang-mobile {
        display: block;
        text-align: center;
        margin-top: 500px;
    }

    .wrapper{
        background-image: url("./../img/bg-mob.png");
        max-width: 900px;
        
        height: 100%;
        position: relative;
    }

    .luottang-bottom {
        margin-top: 15px;
    }

    .container__rank{
        display: none;
    }



    .container__rank-mobile {
        display: none;
    }

    .rank-mobile-top{
        text-align: center;
    }


    .container__bottom{
        display: none;
    }

    .container__bottom-mobile {
        display: block;
        margin-top: 500px;
        margin-bottom: 100px;
    }

    .bottom__card{
        width: auto;
    }


    .hide {
        display: none;
    }

    .card-left {
        float: left;
        
    }
    
    .card {
        padding: 0px;
        margin: 0px;
    }

    .card a {
        bottom:15px;
        left: 70px;
    }


    .menu-mobile{
        display: block;
        background-image: url("./../img/menu-mobile.png");
        background-repeat: no-repeat;
        max-width: 576px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 0px;
    }


    .menu-mobie-list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
        
    } 

    .menu-mobie-list li {
        padding: 0px
    }

    .menu-mobie-list li button {
        padding : 0px
    }

} */










/* reponsive 710px */

@media screen and (max-width: 760px){
    
    .wrapper{
        background-image: url("./../img/bg-mob.png");
        height: auto;
    }

    .right__menu {
        top: 500px;
    }

    .luottang-mobile {
        display: block;
        text-align: center;
        margin-top: 500px;
    }

    .container__rank, .container__bottom, .luottang, .left__menu {
        display: none;
    }

    .container__bottom-mobile {
        display: block;
       width: 100%;
       float: left;
    }

    .card-left {
        float: none;
    }

    .bottom__card {
        width: auto;
        display: block;
    }

    .bottom__card p {
        text-align: center;
    }

    .card a {
        bottom: 10px;
        left: 80px;
    }
    
    .qua {
        margin-top: 770px;
        padding-bottom: 100px;
    }

    .menu-mobile{
        display: block;
        background-image: url("./../img/menu-mobile.png");
        background-repeat: no-repeat;
        max-width: 900px;
        position: fixed;
        bottom: 0px;
        left: 0px;
    }

    .menu-mobie-list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .navbar {
        background: -webkit-linear-gradient(90deg, #D13F3E 28%, #f3493d 61%, #f9bebe 100%);
        padding: 0px;
        margin: 0px;
        height: 65px;
        width: 100%;
        position: relative;
        display: block;
    }
    
    
    .navbar .icon img{
        margin: 10px;
        width: 100px;
        float: left;
    }
    
    .navbar-list {
        position: absolute;
        right: 0px;
        top: 10px;
        margin: 0px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-item {
      margin-right: 20px;

    }

    .navbar-item span {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
    }


    .modal-bxh-text {
      
        margin-top: 150px;
        margin-left: 85px;
     }

    .modal-thele-text {
        margin-top: 50px;
        font-size: 17px;
        padding: 0 20px;

    }


    .modal-thele-bg{
        transform: translateX(-20px);
    }

    .close-thele {
        left: 620px;
    }



/* bxh */
    .modal-bg {
        transform: scale(1.2);
    }






}

/* 560 */



@media screen and (min-width: 680px) {
    
}